


<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="style.css" type="text/css">
  </head>
  <body>

    <div id="container">

      <h2> Calculator Service </h2>

      <div id="menu">
        <h2>Menu</h2>
        <ul>
          <li><%= link_to "Página Inicial", "/" %></li>
          <li><%= link_to "Usar a calculadora prática", "../calculator/new" %></li>
          <li><%= link_to "Usar a calculadora de imc", "/imc" %></li>
          <li><%= link_to "Documentação da API", "/doc/app/index.html" %></li>
        </ul>
      </div>


      <div id="content">
        <h2>Usar a calculadora do imc</h3>

          <form accept-charset="UTF-8" action="/calculator/imc" method="get">
            <input name="utf8" type="hidden" value="&#x2713;" />
            <input name="authenticity_token" type="hidden" value="J7CBxfHalt49OSHp27hblqK20c9PgwJ108nDHX/8Cts=" />

            Peso:
            <input type="text" name="peso" value="<%= @peso%>">
          </br>

            Altura:
            <input type="text" name="altura" value="<%= @altura%>">
          </br>

            <input type="submit" value="calcular">
            IMC:<%= @imc %>

          </form>

      </div>

      <div id="footer">

      </div>
    </div>
  </body>
</html>
