


<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="style.css" type="text/css">
  </head>
  <body>

    <div id="container">

      <h2> Calculator Service </h2>

      <div id="menu">
        <h2>Menu</h2>
        <ul>
          <li><%= link_to "Página Inicial", "/" %></li>
          <li><%= link_to "Usar a calculadora prática", "../calculator/new" %></li>
          <li><%= link_to "Usar a calculadora de imc", "../calculator/imc" %></li>
          <li><%= link_to "Documentação da API", "/doc/app/index.html" %></li>
        </ul>
        <h2>Desenvolvedores:</h2>
        Állef Lôbo </br>
        Ana Lice
      </div>


      <div id="content">
        <h2>Usar a calculadora prática</h3>

          <form accept-charset="UTF-8" action="/calculator/new" method="get">
            <input name="utf8" type="hidden" value="&#x2713;" />
            <input name="authenticity_token" type="hidden" value="J7CBxfHalt49OSHp27hblqK20c9PgwJ108nDHX/8Cts=" />

            <input type="text" name="firstValue" value="<%= @firstValue%>">

            <select name="type">
              <option value="sum" <% if @type == "sum"  %> <%= "selected" %> <% end   %> > +  </option>
              <option value="subtract" <% if @type == "subtract"  %> <%= "selected" %> <% end   %> > - </option>
              <option value="multiply" <% if @type == "multiply"  %> <%= "selected" %> <% end   %> > * </option>
              <option value="divide" <% if @type == "divide"  %> <%= "selected" %> <% end   %> > / </option>
            </select>

            <input type="text" name="secondValue" value="<%= @secondValue%>">
            <input type="submit" value="calculate">
            Result:<%= @result %>

          </form>

      </div>

      <div id="footer">

      </div>
    </div>
  </body>
</html>
